#newRadio {
  display: flex;
}
#radiosBody th {
  text-align: left;
  padding: 2px;
}
#radiosBody th.maxWidth {
  width: 99%;
}
#radiosBody td {
  white-space: nowrap;
  padding: 2px;
}
#radiosBody table button {
  opacity: 0.25;
}
#radiosBody table button:hover {
  opacity: 1;
}
#radiosBody .radioCover {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#radiosBody input[type="file"] {
  position: absolute;
  top: -500px;
  z-index: -1;
}
