#profileBody {
  display: flex;
  flex-direction: column;
}

#profileBody #newUserPass {
  display: flex;
  flex-direction: column;
}

#profileBody input[type="text"],
#profileBody input[type="password"] {
  display: block;
  margin: 0;
}
